html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Sekcja o mnie */
.about {
  background: #6c757d;
  margin: 10px auto;
  width: 90vw;
  border-radius: 8px;
}

.about__description {
  color: #212529;
  padding: 16px;
  text-align: justify;
}

.about__header {
  color: #ced4da;
  margin: 10px auto;
  text-align: center;
}

.about__image {
  display: block;
  margin: 10px auto;
  width: 60vw;
}

.about__navigation {
  color: #343a40;
}

/* artyku */
.article {
  width: 80vw;
  background: #e2e2e2;
  margin: 10px auto;
  border-radius: 8px;
}

.article__description {
  color: #212529;
  text-align: justify;
  padding: 16px;
  margin: 0;
}

.article__header {
  color: #343a40;
  margin: 10px auto;
  padding-top: 16px;
  text-align: center;
}

.article__image {
  display: block;
  margin: 10px auto;
  width: 50vw;
}

.article__link {
  color: #343a40;
  padding: 16px;
}

/* menu boczne */
.aside {
  position: sticky;
  top: 90px;
  margin: 10px;
  height: 70vh;
  max-width: 200px;
  width: 25vw;
  background-color: #f8f9fa;
  border: 1px solid #06021d;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #212529;
  grid-area: aside;
}

.aside__header {
  color: #343a40;
  margin: 2px;
}

.aside__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.aside__link {
  font-size: 12px;
  color: #343a40;
  margin-bottom: 5px;
}

/* Body */
body {
  background-color: #f8f9fa;
  background-image: linear-gradient(
    45deg,
    #f8f9fa 0%,
    #adb5bd 43%,
    #ffffff 100%
  );
  margin: 0;
}

.code {
  display: inline-block;
  padding: 0 10px;
  color: #212529;
  word-wrap: break-word;
  margin: 16px;
}

/* Lista hase */
.description-list {
  color: #212529;
  margin: 10px auto;
  width: 53vw;
  text-align: justify;
}

.description-list__term {
  margin: 10px 2px;
}

/*  Notatki z poszczeg贸lnych weekend贸w */
.diary {
  grid-area: diary;
}

/* Stopka */
.footer {
  background: #212529;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__description {
  color: #e9ecef;
  padding: 5px;
}

.footer__link {
  color: #e9ecef;
  padding-bottom: 10px;
}

/* Hamburger menu */

.hamburger {
  position: absolute;
  top: 20x;
  right: 10px;
  border: none;
  background: none;
}

.klasa-z-js {
  background: yellow;
}

/* nag贸wek - nawigacja */
.header {
  background: #fefefe;
  top: 0;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 100;
  min-height: 60px;
}

/* listy */
.list {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 16px;
  text-align: justify;
  color: #212529;
}

.list__image {
  display: block;
  margin: 10px auto;
  width: 100%;
}

.list__item {
  list-style: square;
}

.list__link {
  color: #343a40;
}

/* Sekcja Main */
.main {
  width: 90vw;
  margin: 80px auto;
}

.main__description {
  color: #6c757d;
  background: #dee2e6;
  width: 80vw;
  text-align: center;
  margin: 5px auto;
  border-radius: 16px;
}

.main__header {
  width: 80vw;
  margin: 10px auto;
  color: #212529;
  text-align: center;
}

/* Nawigacja - nag贸wek */
.navigation {
  padding: 16px;
  display: none;
  background: #212529;
}

.navigation__link {
  color: #e9ecef;
  display: block;
  margin: 0 0 16px 0;
}

.navigation__link:hover {
  color: yellow;
}

.navigation--open {
  display: block;
}

.navigation__link--homepage {
  background: #e9ecef;
  color: #343a40;
}

/* Notesy */
.notes {
  background: #6c757d;
  width: 90vw;
  margin: 10px auto;
  border-radius: 8px;
}

.notes__header {
  color: #ced4da;
  margin: 10px auto;
  text-align: center;
  justify-self: center;
}

.notes__image {
  display: block;
  margin: 45px auto 0;
}

/* Selektor */
.selektor {
  padding-left: 40px;
}

/* Tabela */
.table {
  width: 100%;
  color: #343a40;
  border: 1px solid #212529;
}

/* Tygodnie nauki*/
.week {
  width: 85vw;
  background: #f8f9fa;
  border: 1px #06021d solid;
  border-radius: 8px;
  margin: 10px 0 10px 10px;
}

.week__description {
  color: #36413e;
  text-align: justify;
  padding: 16px;
}

.week__header {
  color: #212529;
  margin: 10px auto;
  text-align: center;
}

.week__header::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}

.week__header::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}

/* Media queries */

@media (min-width: 768px) {
  .article {
    width: 55vw;
    background: #e2e2e2;
    margin: 10px auto;
    border-radius: 8px;
  }

  .aside {
    position: sticky;
    top: 90px;
    margin: 10px;
    height: 70vh;
    width: 25vw;
    background-color: #f8f9fa;
    border: 1px solid #06021d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212529;
    grid-area: aside;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    width: 90%;
    background: #212529;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navigation__link {
    color: #e9ecef;
    display: inline-block;
    margin-right: 20px;
  }

  .navigation__link--homepage {
    background: #e9ecef;
    color: #343a40;
  }

  .notes {
    background: #6c757d;
    width: 90vw;
    margin: 10px auto;
    border-radius: 8px;
    display: grid;
    grid-template-areas:
      "header header"
      "diary aside";
  }

  .notes__header {
    color: #ced4da;
    margin: 10px auto;
    grid-area: header;
    text-align: center;
    justify-self: center;
  }

  .notes__image {
    display: block;
    margin: 45px auto 0;
    grid-area: header;
  }

  .week {
    width: 60vw;
    background: #f8f9fa;
    border: 1px #06021d solid;
    border-radius: 8px;
    margin: 10px 0 10px 10px;
  }
}
