html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Sekcja o mnie */
.about {
  background: #6c757d;
  margin: 10px auto;
  width: 90vw;
  border-radius: 8px;
  &__description {
    color: #212529;
    padding: 16px;
    text-align: justify;
  }
  &__header {
    color: #ced4da;
    margin: 10px auto;
    text-align: center;
  }
  &__image {
    display: block;
    margin: 10px auto;
    width: 60vw;
  }
  &__navigation {
    color: #343a40;
  }
}

/* artyku */
.article {
  width: 80vw;
  background: #e2e2e2;
  margin: 10px auto;
  border-radius: 8px;
  &__description {
    color: #212529;
    text-align: justify;
    padding: 16px;
    margin: 0;
  }
  &__header {
    color: #343a40;
    margin: 10px auto;
    padding-top: 16px;
    text-align: center;
  }
  &__image {
    display: block;
    margin: 10px auto;
    width: 50vw;
  }
  &__link {
    color: #343a40;
    padding: 16px;
  }
  @media (min-width: 768px) {
    width: 55vw;
    background: #e2e2e2;
    margin: 10px auto;
    border-radius: 8px;
  }
}

/* menu boczne */
.aside {
  position: sticky;
  top: 90px;
  margin: 10px;
  height: 70vh;
  max-width: 200px;
  width: 25vw;
  background-color: #f8f9fa;
  border: 1px solid #06021d;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #212529;
  grid-area: aside;
  &__header {
    color: #343a40;
    margin: 2px;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
  &__link {
    font-size: 12px;
    color: #343a40;
    margin-bottom: 5px;
  }
  @media (min-width: 768px) {
    position: sticky;
    top: 90px;
    margin: 10px;
    height: 70vh;
    width: 25vw;
    background-color: #f8f9fa;
    border: 1px solid #06021d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212529;
    grid-area: aside;
  }
}

/* Body */
body {
  background-color: #f8f9fa;
  background-image: linear-gradient(
    45deg,
    #f8f9fa 0%,
    #adb5bd 43%,
    #ffffff 100%
  );
  margin: 0;
}

/* Code */
.code {
  display: inline-block;
  padding: 0 10px;
  color: #212529;
  word-wrap: break-word;
  margin: 16px;
}

/* Lista hase */
.description-list {
  color: #212529;
  margin: 10px auto;
  width: 53vw;
  text-align: justify;
  &__term {
    margin: 10px 2px;
  }
}

/*  Notatki z poszczeg贸lnych weekend贸w */
.diary {
  grid-area: diary;
}

/* Stopka */
.footer {
  background: #212529;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__description {
    color: #e9ecef;
    padding: 5px;
  }
  &__link {
    color: #e9ecef;
    padding-bottom: 10px;
  }
}

/* Hamburger menu */

.hamburger {
  position: absolute;
  top: 20x;
  right: 10px;
  border: none;
  background: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.klasa-z-js {
  background: yellow;
}

/* nag贸wek - nawigacja */
.header {
  background: #fefefe;
  top: 0;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 100;
  min-height: 60px;
}

/* listy */
.list {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 16px;
  text-align: justify;
  color: #212529;
  &__image {
    display: block;
    margin: 10px auto;
    width: 100%;
  }
  &__item {
    list-style: square;
  }
  &__link {
    color: #343a40;
  }
}

/* Sekcja Main */
.main {
  width: 90vw;
  margin: 80px auto;
  &__description {
    color: #6c757d;
    background: #dee2e6;
    width: 80vw;
    text-align: center;
    margin: 5px auto;
    border-radius: 16px;
  }
  &__header {
    width: 80vw;
    margin: 10px auto;
    color: #212529;
    text-align: center;
  }
}

/* Nawigacja - nag贸wek */
.navigation {
  padding: 16px;
  display: none;
  background: #212529;
  &__link {
    color: #e9ecef;
    display: block;
    margin: 0 0 16px 0;
    &--homepage {
      background: #e9ecef;
      color: #343a40;
    }
    &:hover {
      color: yellow;
    }
  }
  &--open {
    display: block;
  }
  @media (min-width: 768px) {
    width: 90%;
    background: #212529;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__link {
      color: #e9ecef;
      display: inline-block;
      margin-right: 20px;
      &--homepage {
        background: #e9ecef;
        color: #343a40;
      }
    }
  }
}

/* Notesy */
.notes {
  background: #6c757d;
  width: 90vw;
  margin: 10px auto;
  border-radius: 8px;
  &__header {
    color: #ced4da;
    margin: 10px auto;
    text-align: center;
    justify-self: center;
  }
  &__image {
    display: block;
    margin: 45px auto 0;
  }
  @media (min-width: 768px) {
    background: #6c757d;
    width: 90vw;
    margin: 10px auto;
    border-radius: 8px;
    display: grid;
    grid-template-areas:
      "header header"
      "diary aside";
    &__header {
      color: #ced4da;
      margin: 10px auto;
      grid-area: header;
      text-align: center;
      justify-self: center;
    }
    &__image {
      display: block;
      margin: 45px auto 0;
      grid-area: header;
    }
  }
}

/* Selektor */
.selektor {
  padding-left: 40px;
}

/* Tabela */
.table {
  width: 100%;
  color: #343a40;
  border: 1px solid #212529;
}

/* Tygodnie nauki*/
.week {
  width: 85vw;
  background: #f8f9fa;
  border: 1px #06021d solid;
  border-radius: 8px;
  margin: 10px 0 10px 10px;
  &__description {
    color: #36413e;
    text-align: justify;
    padding: 16px;
  }
  &__header {
    color: #212529;
    margin: 10px auto;
    text-align: center;
    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color: red;
      border-radius: 50%;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color: red;
      border-radius: 50%;
    }
  }
  @media (min-width: 768px) {
    width: 60vw;
    background: #f8f9fa;
    border: 1px #06021d solid;
    border-radius: 8px;
    margin: 10px 0 10px 10px;
  }
}
