.about {
  background: #d4c685;
  margin: 10px auto;
  width: 90vw;
  border-radius: 8px;
}

.about__description {
  padding: 16px;
  text-align: justify;
}

.about__header {
  color: #720E07;
  margin: 10px auto;
  text-align: center;
}

.about__image {
  display: block;
  margin: 10px auto;
  width: 60vw;
}

.about__navigation {
  color: #FE9000;
}

.article {
  width: 70vw;
  background: #E2E2E2;
  margin: 10px auto;
  border-radius: 8px;
}

.article__description {
  color: #36413e;
  text-align: justify;
  padding: 16px;
}

.article__header {
  color: #451F55;
  margin: 10px auto;
  padding-top: 16px;
  text-align: center;
}

.article__image {
  display: block;
  margin: 10px auto;
  width: 60vw;
}

body {
  background: #fefefe;
}

.code {
  padding: 0 10px;
}

.description-list {
  margin: 10px auto;
  width: 60vw;
  text-align: justify;
}

.header {
  background: #fefefe;
}

.list {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 16px;
  text-align: justify;
}

.list__image {
  display: block;
  margin: 10px auto;
  width: 100%;
}

.main {
  width: 90vw;
  margin: 10px auto;
}


.main__header {
  width: 80vw;
  margin: 10px auto;
  color: #22162B;
  text-align: center;
}

.navigation {
  background: #07070A;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #FE9000;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}

.notes {
  background: #d4c685;
  width: 90vw;
  margin: 10px auto;
  border-radius: 8px;
}

.notes__header {
  color: #720E07;
  margin: 10px auto;
  text-align: center;
}

.notes__image {
  display: block;
  margin: 10px auto;
}

.selektor {
  padding-left: 40px;
}

.week {
  width: 80vw;
  background: #fefefe;
  border: 1px #06021d solid;
  border-radius: 8px;
  margin: 10px auto;
}

.week__header {
  color: #3C6997;
  margin: 10px auto;
  text-align: center;
}

