/* Sekcja o mnie */
.about {
  background: #6C757D;
  margin: 10px auto;
  width: 90vw;
  border-radius: 8px;
}

.about__description {
  color: #212529;
  padding: 16px;
  text-align: justify;
}

.about__header {
  color: #CED4DA;
  margin: 10px auto;
  text-align: center;
}

.about__image {
  display: block;
  margin: 10px auto;
  width: 60vw;
}

.about__navigation {
  color: #343A40;
}

/* artykuł */
.article {
  width: 55vw;
  background: #e2e2e2;
  margin: 10px auto;
  border-radius: 8px;
}

.article__description {
  color: #212529;
  text-align: justify;
  padding: 16px;
}

.article__header {
  color: #343A40;
  margin: 10px auto;
  padding-top: 16px;
  text-align: center;
}

.article__image {
  display: block;
  margin: 10px auto;
  width: 50vw;
}

.article__link {
  color: #343A40;
  padding: 16px;
}

/* menu boczne */
.aside {
  position: sticky;
  top: 90px;
  margin: 10px;
  height: 70vh;
  width: 25vw;
  background-color: #F8F9FA;
  border: 1px solid #06021d;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212529;
}

.aside__header {
  color: #343A40;
  margin: 2px;
}

.aside__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.aside__link {
  font-size: 12px;
  color: #343A40;
  margin-bottom: 5px;
}

/* Body */
body {
  background: #F8F9FA;
}

.code {
  padding: 0 10px;
  color: #212529;
}

/* Lista haseł */
.description-list {
  color: #212529;
  margin: 10px auto;
  width: 53vw;
  text-align: justify;
}

.description-list__term {
  margin: 10px 2px;
}


/* Stopka */
.footer {
  background: #212529;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__description {
  color: #E9ECEF;
  padding: 5px;
}

.footer__link {
  color: #E9ECEF;
  padding-bottom: 10px;
}

/* nagłówek - nawigacja */
.header {
  background: #fefefe;
  top: 0px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* listy */
.list {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 16px;
  text-align: justify;
  color: #212529;
}

.list__image {
  display: block;
  margin: 10px auto;
  width: 100%;
}

.list__item {
  
}

.list__link {
  color: #343A40;
}

/* Sekcja Main */
.main {
  width: 90vw;
  margin: 80px auto;
}

.main__header {
  width: 80vw;
  margin: 10px auto;
  color: #212529;
  text-align: center;
}

/* Nawigacja - nagłówek */
.navigation {
  background: #212529;
  margin: 0 10px;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #E9ECEF;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: #E9ECEF;
  color: #343A40;
}

/* Notesy */
.notes {
  background: #6C757D;
  width: 90vw;
  margin: 10px auto;
  border-radius: 8px;
}

.notes__content {
  display: flex;
}

.notes__header {
  color: #CED4DA;
  margin: 10px auto;
  text-align: center;
  justify-self: center;
}

.notes__image {
  display: block;
  margin: 10px auto;
}

/* Selektor */
.selektor {
  padding-left: 40px;
}


/* Tygodnie nauki*/
.week {
  width: 60vw;
  background: #F8F9FA;
  border: 1px #06021d solid;
  border-radius: 8px;
  margin: 10px 10px;
}

.week__description {
  color: #36413e;
  text-align: justify;
  padding: 16px;
}

.week__header {
  color: #212529;
  margin: 10px auto;
  text-align: center;
}
