.about {
  background: #d4c685;
}

.article__description {
  color: #36413e;
}

body {
  background: #fefefe;
}

.header {
  background: #fefefe;
}

.main__header {
  color: #91140c;
}

.navigation {
  background: #04ac26;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #c77d0f;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}

.notes {
  background: #d4c685;
}

.notes__header {
  color: #1460aa;
}

.selektor {
  padding-left: 40px;
}
