/* artykuł */
.article {
    width: 80vw;
    background: #e2e2e2;
    margin: 10px auto;
    border-radius: 8px;
    &__description {
      color: #212529;
      text-align: justify;
      padding: 16px;
      margin: 0;
    }
    &__header {
      color: #343a40;
      margin: 10px auto;
      padding-top: 16px;
      text-align: center;
    }
    &__image {
      display: block;
      margin: 10px auto;
      width: 50vw;
    }
    &__link {
      color: #343a40;
      padding: 16px;
    }
    @media (min-width: 768px) {
      width: 55vw;
      background: #e2e2e2;
      margin: 10px auto;
      border-radius: 8px;
    }
  }
