
/* Stopka */
.footer {
    background: #212529;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__description {
      color: #e9ecef;
      padding: 5px;
    }
    &__link {
      color: #e9ecef;
      padding-bottom: 10px;
    }
  }
